@page "/"

<PageTitle>Home</PageTitle>

<div style="margin-bottom: 20px; margin-top: 20px;">
    <div class="page-header">Cálculo de IMC</div>
  </div>

  <div>
    <input class="input-text" type="text" value="Altura" />
  </div>

  <div>
    <input class="input-text" type="text" value="Peso" />
  </div>

  <div>
    <input class="input-text" type="text" value="Sexo" />
  </div>

  <div class="checkbox-option-empty" style="margin-bottom: 20px; margin-top: 20px;">
    <input class="checkbox-empty" type="checkbox">
    <div class="checkbox-text">
      Eu tenho 65 anos ou mais
    </div>
  </div>

  <div class="buttons">
    <button class="button-primary">
      Calcular meu IMC
    </button>

    <button class="button-secundary">
      Entenda o cálculo
    </button>
  </div>
