@page "/history"

<PageTitle>History</PageTitle>

<div style="margin-bottom: 20px; margin-top: 10px;">
    <img src="img/icon-no-bg.png" class="icon-no-bg">
</div>

<div>
    <div class="page-header">Histórico</div>
</div>


<input class="input-search" type="search" value="Pesquisar..." />

<div class="content-blocks">
    <div class="content-block-small">
        <div class="content-block"></div>
        <div class="content-block-header">Peso ideal ✅</div>
        <div class="content-block-time">8m atrás</div>
        <div class="content-block-text">
            Parabéns, você está no seu peso ideal, continue mantendo este estilo!
        </div>
        <div class="divider-line"></div>
    </div>

    <div class="content-block-small">
        <div class="content-block"></div>
        <div class="content-block-header">Sobrepeso ⛔️</div>
        <div class="content-block-time">12/10/2023</div>
        <div class="content-block-text">
            Estamos quase lá! Faça alguns ajustes para ficar no peso ideal!
        </div>
        <div class="divider-line"></div>
    </div>
</div>
